<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<video playsinline autoplay loop muted style="position:absolute;left:0px;top:0px;width:auto;height:100%">
<source src="">
</source>
</video>
<script>
v = document.getElementsByTagName("video")[0];

a = window.location.href;
b = a.substring(a.indexOf("?") + 1).split("&");
c = b[1].split(",");
v.style.visibility = "hidden";
v.addEventListener("timeupdate",f1,false);
v.src = b[0];

d = 0
f = 0;

function f1(){
if (d == 0){
v.currentTime = c[f] * 1;
d = 1;
}

if (d == 1 & v.currentTime > c[f] * 1){
v.style.visibility = "visible";
d = 2;
}

if (v.currentTime >= c[f] * 1 + c[f + 1] * 1){
f = f + 2;
if (f > c.length - 1)
f = 0;
v.currentTime = c[f] * 1;
}
}


</script>